h1 = t 'kgp.page_0.02cf6004-a0f9-4828-be26-09253d4490b6'

h1 = t 'kgp.page_0.f1c599f5-dccc-4a9d-b81d-030e4cbce6cd'

p = t 'kgp.page_0.778006c5-22a7-4abb-b81e-f04499f942e6'

.text-center = link_to l('/kgp/1'), class: 'btn btn-lg btn-primary' do
  i.fa.fa-arrow-right
