sudo: false
language: ruby
rvm:
- 2.2.2
install:
- bundler install
- pip install awscli
script:
- bundle exec rake locales:update
- bundle exec middleman build
cache:
  yarn: true
  directories:
  - node_modules
env:
  global:
  - AWS_ACCESS_KEY_ID=AKIAJPLIHFHG24IQ3EFA
  - secure: HdpaSujhRoiFLkzv242BO6cpJnnt4Hcj8/M3vxAdmrGNSESdtP2S3dqgoj3LBR/MUt0x8OcIT8bM6vBJ9nl7m2sKSJ7zudKzoi/Dd4I2SEpusCGpqXeK3niziJSjnVBNFlr3WCfnns0JcifMcrEYvWXpZhT5WP5fePUF7qq6hTk=  
deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: cru-godtools-web
    acl: public_read
    cache_control: "max-age=3600"
    local-dir: build
    skip_cleanup: true
after_deploy:
  # Allow `awscli` to make requests to CloudFront.
  - aws configure set preview.cloudfront true
  # Invalidate every object in the targeted distribution.
  - aws cloudfront create-invalidation --distribution-id E29Z8FMTDDSDC7 --paths "/*"