.list-group
  = link_to t('kgp.title'), l('/kgp'), class: 'list-group-item'
  = link_to t('fourlaws.title'), l('/fourlaws'), class: 'list-group-item'
  = link_to t('satisfied.title'), l('/satisfied'), class: 'list-group-item'
