html.embedded {
  background: transparent;

  .container {
    width: 100%;
  }

  body {
    background: transparent;

    #wrap {
      background: white;
      border: 1px solid #DDD;
      border-radius: 2px;
    }

    .navbar {
      border-radius: 2px;
    }

    article {
      padding: 15px;
      border: 0;
    }
  }
}
